.flow.json.backup
[{"id":"652435b2.9bd26c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"efabc5b9.132a68","type":"tab","label":"Start, Timer","disabled":false,"info":""},{"id":"a96c819e.ce9fc","type":"tab","label":"Szenen","disabled":false,"info":""},{"id":"9d9502ed.2a8bb","type":"tab","label":"Send","disabled":false,"info":""},{"id":"63872b04.e58594","type":"tab","label":"Räume","disabled":false,"info":""},{"id":"c273dbba.253268","type":"tab","label":"Klima","disabled":false,"info":""},{"id":"1db7c4b1.5ef76b","type":"tab","label":"Arbeitsplätze","disabled":false,"info":""},{"id":"c7e288d3.9f77d8","type":"tab","label":"Aussen","disabled":false,"info":""},{"id":"91e8bf99.62c83","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"caf4acef.80ba8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3d5f0537.65849a","type":"subflow","name":"pNode API Request","info":"","in":[{"x":50,"y":30,"wires":[{"id":"8be0b879.e14ca8"}]}],"out":[{"x":694,"y":43,"wires":[{"id":"5dbbef74.4488f","port":0}]},{"x":700,"y":240,"wires":[{"id":"24ee2221.53edde","port":0}]}],"outputLabels":["","Request Error"]},{"id":"c444f637.413238","type":"subflow","name":"pNode API Authenticate","info":"","in":[{"x":86,"y":56,"wires":[{"id":"5d1bbe5.79db34"}]}],"out":[{"x":624,"y":70,"wires":[{"id":"5fd67913.bab3c8","port":0}]}]},{"id":"553b5f1e.aa439","type":"subflow","name":"pNode API","info":"","in":[{"x":40,"y":40,"wires":[{"id":"3a59812f.77f34e"}]}],"out":[{"x":880,"y":40,"wires":[{"id":"1e9462a8.80599d","port":0}]},{"x":860,"y":260,"wires":[{"id":"1e9462a8.80599d","port":1}]}],"outputLabels":["Ok","Error"]},{"id":"c86b2d87.c0184","type":"ui_group","z":"","name":"Beleuchtung 9","tab":"9e5d4769.ccc8c8","order":9,"disp":true,"width":"6","collapse":false},{"id":"bd9e4983.c9a308","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#29c732","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#bccf19","baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#bccf19","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#bccf19","edited":true},"page-titlebar-backgroundColor":{"value":"#bccf19","edited":false},"page-backgroundColor":{"value":"#dbdbdb","edited":true},"page-sidebar-backgroundColor":{"value":"#d1d1d1","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#d1d1d1","edited":true},"group-backgroundColor":{"value":"#d1d1d1","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#bccf19","edited":false},"widget-borderColor":{"value":"#d1d1d1","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"profilsys","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":5,"py":5}}},{"id":"e0686c45.60629","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"354cd6e5.218b9a","type":"mqtt-broker","z":"","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bfee0cd5.d5cbc","type":"ui_group","z":"","name":"Beleuchtung","tab":"","disp":true,"width":"6"},{"id":"64003ddd.e144e4","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"96501c9b.e630d","type":"ui_group","z":"","name":"Schulung","tab":"f21c6429.700008","order":3,"disp":true,"width":"6","collapse":false},{"id":"19c3abd8.0e2384","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"f9e3d6ec.e668f8","type":"ui_group","z":"","name":"Beleuchtung","tab":"","disp":true,"width":"6","collapse":false},{"id":"4ac2a756.7a91d8","type":"ui_group","z":"","name":"Ablauf","tab":"","order":1,"disp":true,"width":"6"},{"id":"ac6fbe3e.f0bc4","type":"ui_group","z":"","name":"Beleuchtung 10","tab":"9e5d4769.ccc8c8","order":10,"disp":true,"width":"6","collapse":false},{"id":"f21c6429.700008","type":"ui_tab","z":"","name":"Räume","icon":"fa-building-o","order":2},{"id":"d8f4a50d.35ab88","type":"ui_group","z":"","name":"Besprechnung","tab":"f21c6429.700008","order":1,"disp":true,"width":"6","collapse":false},{"id":"9e5d4769.ccc8c8","type":"ui_tab","z":"","name":"Arbeitsplätze ","icon":"fa-cogs","order":1},{"id":"d193af2e.a348c","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"6fa7a241.6333fc","type":"ui_group","z":"","name":"Beleuchtung 8","tab":"9e5d4769.ccc8c8","order":8,"disp":true,"width":"6","collapse":false},{"id":"b7857e13.aad37","type":"ui_group","z":"","name":"Ablauf","tab":"3bc845c8.9a230a","order":1,"disp":true,"width":"6"},{"id":"3bc845c8.9a230a","type":"ui_tab","z":"","name":"Szenen","icon":"fa-play","order":4},{"id":"5b4a53ae.b3124c","type":"ui_group","z":"","name":"Beleuchtung 7","tab":"9e5d4769.ccc8c8","order":7,"disp":true,"width":"6","collapse":false},{"id":"7b3cf838.027f18","type":"ui_group","z":"","name":"Beleuchtung 6","tab":"9e5d4769.ccc8c8","order":6,"disp":true,"width":"6","collapse":false},{"id":"cc98bbda.0f6808","type":"ui_group","z":"","name":"Beleuchtung 5","tab":"9e5d4769.ccc8c8","order":5,"disp":true,"width":"6","collapse":false},{"id":"caa3d2fa.44f21","type":"ui_group","z":"","name":"Beleuchtung 4","tab":"9e5d4769.ccc8c8","order":4,"disp":true,"width":"6","collapse":false},{"id":"fe6cd9f0.b0fb18","type":"ui_group","z":"","name":"Beleuchtung 3","tab":"9e5d4769.ccc8c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"d00367c9.c8e9c8","type":"ui_group","z":"","name":"Beleuchtung 2","tab":"9e5d4769.ccc8c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"205b4e1d.4972f2","type":"ui_group","z":"","name":"Beleuchtung 1","tab":"9e5d4769.ccc8c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e4895fd.133f7a","type":"ui_group","z":"","name":"Scrum","tab":"f21c6429.700008","order":2,"disp":true,"width":"6","collapse":false},{"id":"d6ff47f2.0216e8","type":"ui_tab","z":"","name":"Klima","icon":"fa-snowflake-o","order":3},{"id":"6e6c016e.49121","type":"ui_group","z":"","name":"Lichtkuppeln","tab":"d6ff47f2.0216e8","order":5,"disp":true,"width":"6","collapse":false},{"id":"c909d68.fa7ea28","type":"ui_group","z":"","name":"Billard","tab":"f21c6429.700008","order":4,"disp":true,"width":"6","collapse":false},{"id":"4468d84d.e48188","type":"ui_group","z":"","name":"Temperatur","tab":"d6ff47f2.0216e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"214c1ad4.47ab16","type":"ui_group","z":"","name":"Feuchte","tab":"d6ff47f2.0216e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"10073ceb.379293","type":"ui_group","z":"","name":"VOC (Luftbelastung)","tab":"d6ff47f2.0216e8","order":4,"disp":true,"width":"6","collapse":false},{"id":"1f2a885d.a442f8","type":"ui_group","z":"","name":"Wetter","tab":"d6ff47f2.0216e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fefdd1e3.a1c7b","type":"ui_group","z":"","name":"Fittness, Fernwartung, Test","tab":"f21c6429.700008","order":5,"disp":true,"width":"6","collapse":false},{"id":"2366dd86.4082f2","type":"ui_group","z":"","name":"Wareneingang","tab":"f21c6429.700008","order":6,"disp":true,"width":"6","collapse":false},{"id":"346f87d4.b55b58","type":"ui_group","z":"","name":"Aussenlampen","tab":"d8dc7216.a1b2a","order":2,"disp":true,"width":"6","collapse":false},{"id":"adba0775.b8f348","type":"ui_group","z":"","name":"Mitte","tab":"9e5d4769.ccc8c8","order":11,"disp":true,"width":"6","collapse":false},{"id":"d0f42692.72e1b8","type":"ui_group","z":"","name":"Tageslicht","tab":"d6ff47f2.0216e8","order":6,"disp":true,"width":"6","collapse":false},{"id":"3157afd.b3b595","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.10","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d8dc7216.a1b2a","type":"ui_tab","z":"","name":"Aussen","icon":"dashboard","order":5},{"id":"6f8a0769.173a98","type":"http request","z":"3d5f0537.65849a","name":"HTTP Abfrage","method":"POST","ret":"txt","url":"","tls":"","x":385,"y":136,"wires":[["5dbbef74.4488f"]]},{"id":"8be0b879.e14ca8","type":"function","z":"3d5f0537.65849a","name":"header","func":"msg.headers= {};\n\nmsg.headers[\"Authorization\"] = \"Bearer \" + global.get(\"token\");\n\nreturn msg;","outputs":1,"noerr":0,"x":212,"y":135,"wires":[["6f8a0769.173a98"]]},{"id":"5dbbef74.4488f","type":"json","z":"3d5f0537.65849a","name":"json2","pretty":false,"x":553.5,"y":136,"wires":[[]]},{"id":"5fd67913.bab3c8","type":"json","z":"c444f637.413238","name":"","pretty":false,"x":553.5,"y":129,"wires":[[]]},{"id":"a8386f55.03b7b","type":"function","z":"c444f637.413238","name":"Token speichern","func":"let data = JSON.parse(msg.payload);\nglobal.set(\"token\", data.Data.token);\nreturn msg;","outputs":1,"noerr":0,"x":381.5,"y":129,"wires":[["5fd67913.bab3c8"]]},{"id":"5d1bbe5.79db34","type":"http request","z":"c444f637.413238","name":"HTTP Anmeldung","method":"POST","ret":"txt","url":"http://apps.profilsys.de:5001/login","tls":"","x":179.5,"y":129,"wires":[["a8386f55.03b7b"]]},{"id":"a8d14a0a.c8bf48","type":"function","z":"553b5f1e.aa439","name":"Abfrage","func":"msg.url = msg.requestUrl\nreturn msg\n\n\n","outputs":1,"noerr":0,"x":580,"y":40,"wires":[["1e9462a8.80599d"]]},{"id":"3a59812f.77f34e","type":"switch","z":"553b5f1e.aa439","name":"Token ?","property":"token","propertyType":"global","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":200,"y":40,"wires":[["a8d14a0a.c8bf48"],["671d07eb.c3edf8"]]},{"id":"671d07eb.c3edf8","type":"function","z":"553b5f1e.aa439","name":"Anmeldung","func":"msg.payload = {\n username: \"pmm\", \n password: \"1990\"};\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":140,"wires":[["2a4634ee.daf2ec"]]},{"id":"2a4634ee.daf2ec","type":"subflow:c444f637.413238","z":"553b5f1e.aa439","x":250,"y":240,"wires":[["a8d14a0a.c8bf48"]]},{"id":"1e9462a8.80599d","type":"subflow:3d5f0537.65849a","z":"553b5f1e.aa439","x":720,"y":140,"wires":[[],[]]},{"id":"24ee2221.53edde","type":"catch","z":"3d5f0537.65849a","name":"","scope":null,"x":320,"y":260,"wires":[[]]},{"id":"3e8dec0a.b0d584","type":"inject","z":"efabc5b9.132a68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":170,"y":40,"wires":[["750064df.524f2c"]]},{"id":"750064df.524f2c","type":"function","z":"efabc5b9.132a68","name":"Settings","func":"global.set(\"URL_A\", \"192.168.1.14\");\nglobal.set(\"URL_B\", \"192.168.1.12\");\nglobal.set(\"URL_C\", \"192.168.1.13\");\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":40,"wires":[[]]},{"id":"2e6ff4cc.96438c","type":"template","z":"efabc5b9.132a68","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<title>Page Title</title>\n<canvas id=\"myCanvas\" width=\"200\" height=\"100\" style=\"border:1px solid #000000;\">\n\n</canvas>\n<button>Click me</button>\n</head>\n<body>\n\n<h1>This is a Heading</h1>\n<p>This is a paragraph.</p>\n\n</body>\n</html>","output":"str","x":390.2352981567383,"y":102.10781860351562,"wires":[["bf22cafb.e76d68"]]},{"id":"ec9e176f.f6b768","type":"http in","z":"efabc5b9.132a68","name":"","url":"/smarthome","method":"get","upload":false,"swaggerDoc":"","x":173,"y":97,"wires":[["2e6ff4cc.96438c"]]},{"id":"bf22cafb.e76d68","type":"http response","z":"efabc5b9.132a68","name":"","statusCode":"","headers":{},"x":573.5,"y":107,"wires":[]},{"id":"1d74969e.735159","type":"ui_button","z":"a96c819e.ce9fc","name":"Celebration","group":"b7857e13.aad37","order":6,"width":0,"height":0,"passthru":false,"label":"Celebration","color":"","bgcolor":"","icon":"fa-birthday-cake","payload":"A=25=1","payloadType":"str","topic":"","x":170,"y":800,"wires":[["ec0d82d8.60098","436ec944.045f18","d207367c.9515f8"]]},{"id":"510367e7.59d1e8","type":"ui_button","z":"a96c819e.ce9fc","name":"","group":"b7857e13.aad37","order":4,"width":0,"height":0,"passthru":false,"label":"50%","color":"","bgcolor":"","icon":"fa-square-o","payload":"A=0=1","payloadType":"str","topic":"","x":90,"y":320,"wires":[["28b3e6fa.a1104a"]]},{"id":"2029e6d9.9c392a","type":"ui_button","z":"a96c819e.ce9fc","name":"","group":"b7857e13.aad37","order":2,"width":0,"height":0,"passthru":false,"label":"Aus","color":"","bgcolor":"","icon":"fa-power-off","payload":"A=0=0","payloadType":"str","topic":"","x":90,"y":180,"wires":[["a8982f9b.a15e3"]]},{"id":"3577b689.84a69a","type":"ui_button","z":"a96c819e.ce9fc","name":"","group":"b7857e13.aad37","order":5,"width":0,"height":0,"passthru":false,"label":"100%","color":"","bgcolor":"","icon":"fa-square","payload":"A=0=2","payloadType":"str","topic":"","x":94,"y":80,"wires":[["4d8f00c2.f38d"]]},{"id":"19d82e19.f311a2","type":"link out","z":"a96c819e.ce9fc","name":"","links":["f39f96c5.f8a358"],"x":597,"y":820,"wires":[]},{"id":"4d8f00c2.f38d","type":"function","z":"a96c819e.ce9fc","name":"100%","func":"msg.payload = \"1\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["958b4318.d112b"]]},{"id":"28b3e6fa.a1104a","type":"function","z":"a96c819e.ce9fc","name":"0%","func":"msg.payload = \"0\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["958b4318.d112b","df3d9164.d4119"]]},{"id":"a8982f9b.a15e3","type":"function","z":"a96c819e.ce9fc","name":"0%","func":"msg.payload = \"0\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["958b4318.d112b"]]},{"id":"ec0d82d8.60098","type":"function","z":"a96c819e.ce9fc","name":"A Cele","func":"msg.payload = \"A=25=1\"\nreturn msg;","outputs":1,"noerr":0,"x":389,"y":802,"wires":[["19d82e19.f311a2"]]},{"id":"436ec944.045f18","type":"function","z":"a96c819e.ce9fc","name":"B Cele","func":"msg.payload = \"B=25=1\"\nreturn msg;","outputs":1,"noerr":0,"x":389,"y":842,"wires":[["19d82e19.f311a2"]]},{"id":"d207367c.9515f8","type":"function","z":"a96c819e.ce9fc","name":"C cele","func":"msg.payload = \"C=25=1\"\nreturn msg;","outputs":1,"noerr":0,"x":389,"y":883,"wires":[["19d82e19.f311a2"]]},{"id":"f39f96c5.f8a358","type":"link in","z":"9d9502ed.2a8bb","name":"send","links":["19d82e19.f311a2","b197c567.26bb28","7c84ee74.625c3","b6f27370.d3327","35feea74.954306","d2ee4496.8d3598","3d81886d.476e28","8e1200b5.81409","32fb72d3.09ce6e","cdb7160a.d8fb48","4a0c5e17.50e12","94f0bb54.4f17c8","4b7d4053.51c8f","f71d7663.df9d68","eae76b17.5ad5a8","cf263cf9.222e9"],"x":275,"y":100,"wires":[["af5a07ae.b7b748"]]},{"id":"bf64bf3e.38ba2","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Schulung 6","group":"96501c9b.e630d","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":350,"y":260,"wires":[["424711c6.865dd"]]},{"id":"24781cd1.e1aed4","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Schulung 1","group":"96501c9b.e630d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":190,"y":60,"wires":[["4154c883.0ecaa8"]]},{"id":"16e66b1c.de2475","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Schulung 5","group":"96501c9b.e630d","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":190,"y":220,"wires":[["f0500009.12e8a"]]},{"id":"c93655f7.874088","type":"ui_switch","z":"63872b04.e58594","name":"","label":"4 Süd","group":"d8f4a50d.35ab88","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":1100,"wires":[["76c2e20c.cd6a8c"]]},{"id":"c06ce83f.b90528","type":"ui_switch","z":"63872b04.e58594","name":"","label":"3 Mitte Süd","group":"d8f4a50d.35ab88","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":970,"y":1040,"wires":[["580fd66b.001f88"]]},{"id":"b282b377.fd919","type":"ui_switch","z":"63872b04.e58594","name":"","label":"1 Nord","group":"d8f4a50d.35ab88","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":920,"wires":[["45ccedf9.065ca4"]]},{"id":"b2928381.4730a","type":"ui_switch","z":"63872b04.e58594","name":"","label":"2 Mitte Nord","group":"d8f4a50d.35ab88","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":970,"y":980,"wires":[["28ef1ab9.833ea6"]]},{"id":"f7f93fef.da253","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Schulung 3","group":"96501c9b.e630d","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":190,"y":140,"wires":[["a422f5f8.3074d8"]]},{"id":"7c84ee74.625c3","type":"link out","z":"63872b04.e58594","name":"","links":["f39f96c5.f8a358"],"x":735,"y":240,"wires":[]},{"id":"1a397923.6fa0b7","type":"inject","z":"a96c819e.ce9fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":120,"wires":[["4d8f00c2.f38d"]]},{"id":"14a994e5.13b83b","type":"inject","z":"a96c819e.ce9fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["28b3e6fa.a1104a"]]},{"id":"83d8e71b.0c4238","type":"mosca in","z":"efabc5b9.132a68","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":160,"wires":[["d8830d29.c9299"]]},{"id":"b1d9c04d.a0169","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"10 mitte","group":"ac6fbe3e.f0bc4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":735,"y":1300,"wires":[["374a8a0.2ab4c76"]]},{"id":"b3222d02.9304c","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"10 aussen","group":"ac6fbe3e.f0bc4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":745,"y":1360,"wires":[["813940a7.cc7ca"]]},{"id":"b197c567.26bb28","type":"link out","z":"1db7c4b1.5ef76b","name":"","links":["f39f96c5.f8a358"],"x":1670,"y":760,"wires":[]},{"id":"9cf1af3c.eb9aa","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"9 mitte","group":"c86b2d87.c0184","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":725,"y":1180,"wires":[["9d08c1e5.ffe86"]]},{"id":"d8e695eb.28eba8","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"9 aussen","group":"c86b2d87.c0184","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":735,"y":1240,"wires":[["d1eb5b81.1db378"]]},{"id":"adc2dfd3.fdcb9","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"8 aussen","group":"6fa7a241.6333fc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":735,"y":1060,"wires":[["e352d353.ad239"]]},{"id":"fad8e51f.fe5248","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"8 mitte","group":"6fa7a241.6333fc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":725,"y":1120,"wires":[["8c945de4.0993a"]]},{"id":"17518081.7fd26f","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"7 aussen","group":"5b4a53ae.b3124c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":735,"y":940,"wires":[["d4976928.a81f78"]]},{"id":"bc5130a3.f3f6c","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"7 mitte","group":"5b4a53ae.b3124c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":725,"y":1000,"wires":[["9e0da421.ce0ac8"]]},{"id":"ee5a928a.c6937","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"6 aussen","group":"7b3cf838.027f18","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":735,"y":820,"wires":[["1a859447.0dbc5c"]]},{"id":"66408869.2fc668","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"6 mitte","group":"7b3cf838.027f18","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":725,"y":880,"wires":[["5a2c865f.9acf58"]]},{"id":"9af18626.3cc018","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"5 aussen","group":"cc98bbda.0f6808","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":735,"y":700,"wires":[["5642fd2b.717fa4"]]},{"id":"39b2d78a.cd9c98","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"5 mitte","group":"cc98bbda.0f6808","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":725,"y":760,"wires":[["6fd35544.5e37bc"]]},{"id":"69706594.fd5abc","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"1 mitte","group":"205b4e1d.4972f2","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":725,"y":100,"wires":[["59ece7e1.0bb178"]]},{"id":"83a54da7.4c0a3","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"1 aussen","group":"205b4e1d.4972f2","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":735,"y":160,"wires":[["97d36701.853a98"]]},{"id":"baed58a0.b51e58","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"1 Giebel","group":"205b4e1d.4972f2","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":735,"y":220,"wires":[["24d5f5d6.af4e1a"]]},{"id":"f8d95383.29dac","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"2 links","group":"d00367c9.c8e9c8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":725,"y":280,"wires":[["1618774b.275fa9"]]},{"id":"7c5dde7d.578b1","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"3 Giebel","group":"fe6cd9f0.b0fb18","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":735,"y":400,"wires":[["2b161439.9763ac"]]},{"id":"d87632ba.0d84","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"3 mitte","group":"fe6cd9f0.b0fb18","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":725,"y":520,"wires":[["b624c3c8.09e31"]]},{"id":"9231086c.a33c08","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"4 aussen","group":"caa3d2fa.44f21","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":735,"y":580,"wires":[["5b57b727.e884f8"]]},{"id":"b75881fa.87e3d","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"4 mitte","group":"caa3d2fa.44f21","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":725,"y":640,"wires":[["9876caea.731a78"]]},{"id":"e6aa056.f80c0f8","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"3 aussen","group":"fe6cd9f0.b0fb18","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":735,"y":460,"wires":[["7ed2fee9.d8848"]]},{"id":"4c4e41eb.ac2b7","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"2 rechts","group":"d00367c9.c8e9c8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":735,"y":340,"wires":[["216f4428.24506c"]]},{"id":"714ce067.5ef4d","type":"comment","z":"63872b04.e58594","name":"Besprechung","info":"","x":970,"y":880,"wires":[]},{"id":"94f0bb54.4f17c8","type":"link out","z":"63872b04.e58594","name":"","links":["f39f96c5.f8a358"],"x":1435,"y":980,"wires":[]},{"id":"38d2a9bb.a42e36","type":"comment","z":"63872b04.e58594","name":"Schulung Essen","info":"","x":200,"y":20,"wires":[]},{"id":"9263e87c.f0f528","type":"comment","z":"63872b04.e58594","name":"Scrum","info":"","x":950,"y":60,"wires":[]},{"id":"46f62bd9.478894","type":"comment","z":"63872b04.e58594","name":"Billard","info":"","x":950,"y":240,"wires":[]},{"id":"8e1200b5.81409","type":"link out","z":"63872b04.e58594","name":"","links":["f39f96c5.f8a358"],"x":1435,"y":320,"wires":[]},{"id":"cdb7160a.d8fb48","type":"link out","z":"63872b04.e58594","name":"","links":["f39f96c5.f8a358"],"x":1435,"y":120,"wires":[]},{"id":"79a63274.8c641c","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Scrum 2","group":"e4895fd.133f7a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":961,"y":103,"wires":[["b868ab2b.d7ddb8"]]},{"id":"a7c4be28.03bbd","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Scrum 1","group":"e4895fd.133f7a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":960,"y":160,"wires":[["f9b82a0d.faaee8"]]},{"id":"4eece321.cd13ec","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Schulung 4","group":"96501c9b.e630d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":350,"y":180,"wires":[["50f313d5.4ad13c"]]},{"id":"2a4c9587.9f2b6a","type":"ui_switch","z":"63872b04.e58594","name":"","label":"FREI A7","group":"96501c9b.e630d","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":340,"y":420,"wires":[["472acd23.089e04"]]},{"id":"d80a9579.7d9868","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Schulung 2","group":"96501c9b.e630d","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":350,"y":100,"wires":[["1e9c597c.ee73c7"]]},{"id":"c5237c6f.04e78","type":"ui_switch","z":"63872b04.e58594","name":"","label":"FREI A3","group":"96501c9b.e630d","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":180,"y":380,"wires":[["6a8a53fc.39a76c"]]},{"id":"466e70b7.48bf9","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Schulung 7","group":"96501c9b.e630d","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":190,"y":300,"wires":[["bc8711aa.81c42"]]},{"id":"90f9ca27.d814c8","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Schulung 8","group":"96501c9b.e630d","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":350,"y":340,"wires":[["2bdf1134.64d4ae"]]},{"id":"6bb1c77a.e07b38","type":"ui_button","z":"a96c819e.ce9fc","name":"Nachts","group":"b7857e13.aad37","order":3,"width":0,"height":0,"passthru":false,"label":"Nachtmodus","color":"","bgcolor":"","icon":"fa-bed","payload":"A=25=1","payloadType":"str","topic":"","x":100,"y":420,"wires":[["da289e88.1226"]]},{"id":"6506a13d.389d1","type":"comment","z":"c273dbba.253268","name":"Dachfenster","info":"","x":107,"y":27.00000286102295,"wires":[]},{"id":"b6f27370.d3327","type":"link out","z":"c273dbba.253268","name":"","links":["f39f96c5.f8a358"],"x":1035,"y":220,"wires":[]},{"id":"823e90a4.1217e","type":"ui_switch","z":"c273dbba.253268","name":"","label":"Fenster 4 auf","group":"6e6c016e.49121","order":7,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"B=24=1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"B=24=0","offvalueType":"str","officon":"","offcolor":"","x":799.0000152587891,"y":89.99999618530273,"wires":[["b6f27370.d3327"]]},{"id":"efc4b7b6.20d788","type":"ui_switch","z":"c273dbba.253268","name":"","label":"Fenster 3 auf","group":"6e6c016e.49121","order":5,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"B=23=1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"B=23=0","offvalueType":"str","officon":"","offcolor":"","x":798.0000152587891,"y":154.99999618530273,"wires":[["b6f27370.d3327"]]},{"id":"1d4bd6e2.464289","type":"ui_switch","z":"c273dbba.253268","name":"","label":"Fenster 2 auf","group":"6e6c016e.49121","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"B=22=1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"B=22=0","offvalueType":"str","officon":"","offcolor":"","x":816.0000343322754,"y":276.0000104904175,"wires":[["b6f27370.d3327"]]},{"id":"ea03ee31.2fe85","type":"ui_switch","z":"c273dbba.253268","name":"","label":"Fenster 1 auf","group":"6e6c016e.49121","order":1,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"B=21=1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"B=21=0","offvalueType":"str","officon":"","offcolor":"","x":811.0000343322754,"y":343.99999809265137,"wires":[["b6f27370.d3327"]]},{"id":"e206dc2a.bb37e","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Billard 2","group":"c909d68.fa7ea28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":960,"y":280,"wires":[["4e1cc820.4ab708"]]},{"id":"48d44c82.5a20f4","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Billard 1","group":"c909d68.fa7ea28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":957,"y":341,"wires":[["9b14ce59.c5da4"]]},{"id":"65c79d9e.c4e8f4","type":"link in","z":"63872b04.e58594","name":"Lampen BIllard","links":["958b4318.d112b"],"x":815,"y":340,"wires":[["e206dc2a.bb37e","48d44c82.5a20f4","dd051395.0460a"]]},{"id":"a70ff514.915538","type":"function","z":"c273dbba.253268","name":"Daten auslesen","func":"\n var bLuft = msg.payload;\n var sLuft = bLuft.toString();\n sLuft = sLuft.replace(/,/g, '.');\n var data = sLuft.split(\";\");\n if(data[0]=== \"WEBIO\"){\n msg.identifier = data[0];\n msg.airTemperatur = data[1];\n msg.airHumidity = data[2];\n msg.airQuality = data[5];\n msg.payload.temp= msg.airTemperatur;\n msg.payload.hum= msg.airHumidity;\n msg.payload.voc= msg.airQuality;\n return msg;\n }\nreturn\n","outputs":1,"noerr":0,"x":280,"y":1480,"wires":[["6ecfd4fd.6df8ec","2e42e1d9.ff39ce","ac1bea3a.9df138"]]},{"id":"cf50d82f.bfe798","type":"ui_gauge","z":"c273dbba.253268","name":"","group":"4468d84d.e48188","order":1,"width":"6","height":"4","gtype":"gage","title":"Temperatur","label":"[°C]","format":"{{value | number:1}}","min":"15","max":"25","colors":["#0a60ff","#29c732","#ca3838"],"seg1":"19","seg2":"23","x":770,"y":1600,"wires":[]},{"id":"dff160d7.c5f5a","type":"tcp in","z":"c273dbba.253268","name":"","server":"server","host":"","port":"1881","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":100,"y":1480,"wires":[["a70ff514.915538"]]},{"id":"6ecfd4fd.6df8ec","type":"function","z":"c273dbba.253268","name":"Aufbereiten Temp","func":"msg.payload = msg.airTemperatur;\nmsg.topic = \"innen\";\n// msg.payload = msg.airHumidity;\n// msg.payload = msg.airQuality;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1620,"wires":[["cf50d82f.bfe798","ebd11c39.5d79c","dfb8c24c.24395"]]},{"id":"ac1bea3a.9df138","type":"function","z":"c273dbba.253268","name":"Aufbereiten VOC","func":"//msg.payload = msg.airTemperatur;\n// msg.payload = msg.airHumidity;\nmsg.payload = msg.airQuality;\nmsg.topic = \"voc\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1480,"wires":[["a8990f2a.1446d","5feccdcb.801474","e4959b3b.acc1f8"]]},{"id":"2e42e1d9.ff39ce","type":"function","z":"c273dbba.253268","name":"Aufbereiten Feuchte","func":"//msg.payload = msg.airTemperatur;\nmsg.payload = msg.airHumidity;\nmsg.topic = \"hum\";\n// msg.payload = msg.airQuality;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1540,"wires":[["12059f21.a7a621","87327866.98b4e8"]]},{"id":"12059f21.a7a621","type":"ui_gauge","z":"c273dbba.253268","name":"","group":"214c1ad4.47ab16","order":1,"width":"6","height":"4","gtype":"gage","title":"Luftfeuchte ","label":"[%rel]","format":"{{value | number:1}}","min":"0","max":"100","colors":["#ff0000","#29c732","#ca3838"],"seg1":"40","seg2":"70","x":770,"y":1520,"wires":[]},{"id":"a8990f2a.1446d","type":"ui_gauge","z":"c273dbba.253268","name":"","group":"10073ceb.379293","order":1,"width":"6","height":"4","gtype":"gage","title":"VOC ","label":"[ppm]","format":"{{value | number:0}}","min":"200","max":"3000","colors":["#29c732","#fd8208","#ca3838"],"seg1":"900","seg2":"1800","x":750,"y":1420,"wires":[]},{"id":"5feccdcb.801474","type":"ui_chart","z":"c273dbba.253268","name":"","group":"10073ceb.379293","order":2,"width":"6","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":750,"y":1380,"wires":[[],[]]},{"id":"ebd11c39.5d79c","type":"ui_chart","z":"c273dbba.253268","name":"","group":"4468d84d.e48188","order":2,"width":"6","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":750,"y":1680,"wires":[[],[]]},{"id":"87327866.98b4e8","type":"ui_chart","z":"c273dbba.253268","name":"","group":"214c1ad4.47ab16","order":2,"width":"6","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":750,"y":1560,"wires":[[],[]]},{"id":"6827080a.208cf8","type":"comment","z":"c273dbba.253268","name":"WuT Luftmessung ","info":"","x":130,"y":1420,"wires":[]},{"id":"a830b08e.a33e3","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload=\"B=21=1\";\nreturn msg;","outputs":1,"noerr":0,"x":455.00000762939453,"y":346.99999141693115,"wires":[["ea03ee31.2fe85"]]},{"id":"e460ca49.09c508","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload=\"B=23=1\";\nreturn msg;","outputs":1,"noerr":0,"x":456.00001525878906,"y":160.99999618530273,"wires":[["efc4b7b6.20d788"]]},{"id":"beb895e6.12d9c8","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload=\"B=22=1\";\nreturn msg;","outputs":1,"noerr":0,"x":454.0000114440918,"y":273.99999809265137,"wires":[["1d4bd6e2.464289"]]},{"id":"488a0025.5c5b9","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload=\"B=24=1\";\nreturn msg;","outputs":1,"noerr":0,"x":459.00001525878906,"y":86.99999904632568,"wires":[["823e90a4.1217e"]]},{"id":"295de7bf.b4b4f8","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload=\"B=23=0\";\nreturn msg;","outputs":1,"noerr":0,"x":647.0000114440918,"y":187.0000286102295,"wires":[["efc4b7b6.20d788"]]},{"id":"660ec4.634d613c","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload=\"B=21=0\";\nreturn msg;","outputs":1,"noerr":0,"x":645.0000038146973,"y":318.00003719329834,"wires":[["ea03ee31.2fe85"]]},{"id":"585754e3.80faac","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload=\"B=22=0\";\nreturn msg;","outputs":1,"noerr":0,"x":648.0000305175781,"y":242.99999046325684,"wires":[["1d4bd6e2.464289"]]},{"id":"be01a7cc.a3a218","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload=\"B=24=0\";\nreturn msg;","outputs":1,"noerr":0,"x":645.0000038146973,"y":117.99999904632568,"wires":[["823e90a4.1217e"]]},{"id":"b04646ac.7146b8","type":"ui_button","z":"c273dbba.253268","name":"","group":"6e6c016e.49121","order":11,"width":0,"height":0,"passthru":true,"label":"Lüften","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":400,"wires":[["7b361135.f9e32","571c8e7c.322a5"]]},{"id":"1593e238.9274ce","type":"ui_button","z":"c273dbba.253268","name":"","group":"6e6c016e.49121","order":12,"width":0,"height":0,"passthru":false,"label":"Schließen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":440,"y":220,"wires":[["be01a7cc.a3a218","295de7bf.b4b4f8","585754e3.80faac","660ec4.634d613c"]]},{"id":"514555e9.d001dc","type":"ui_slider","z":"c273dbba.253268","name":"","label":"Dauer","group":"6e6c016e.49121","order":9,"width":"4","height":"2","passthru":true,"topic":"","min":"1","max":"120","step":1,"x":270,"y":500,"wires":[["1a4a70be.1f7fbf"]]},{"id":"1a4a70be.1f7fbf","type":"function","z":"c273dbba.253268","name":"Speichern","func":"global.set(\"lueften\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":500,"wires":[["cbd8fd01.e422a"]]},{"id":"cbd8fd01.e422a","type":"ui_text","z":"c273dbba.253268","group":"6e6c016e.49121","order":10,"width":"2","height":"2","name":"","label":"Minuten","format":"{{msg.payload}}","layout":"col-center","x":620,"y":500,"wires":[]},{"id":"2453b3ec.5e599c","type":"inject","z":"a96c819e.ce9fc","name":"","topic":"","payload":"aus","payloadType":"str","repeat":"","crontab":"45 06 * * 6,0","once":false,"onceDelay":"5","x":90,"y":240,"wires":[["a8982f9b.a15e3"]]},{"id":"2ade6d8b.7fcae2","type":"ui_template","z":"c273dbba.253268","group":"1f2a885d.a442f8","name":"","order":1,"width":"6","height":"2","format":"<style>\n\t#wetter { display: flex; flex-direction: row; padding: .5em; }\n</style> \n\n<div id=\"wetter\">\n \n \n <img src=\"{{'http://openweathermap.org/img/w/' + msg.payload.icon + '.png'}}\" alt=\"WetterIcon\"> \n \n <p> <br> {{msg.payload.detail + ', ' + msg.payload.tempc + '°C,' + ' Wind ' + msg.payload.windspeed + 'm/s, ' + ' ' + msg.payload.winddirection + '°N,' + ' Feuchte ' + msg.payload.humidity + '%rel,' + ' Luftdruck ' + msg.payload.pressure + 'hPa' }} </p> \n \n</div>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":1780,"wires":[[]]},{"id":"eeb01dc0.8cd9b","type":"openweathermap","z":"c273dbba.253268","name":"Wetter","wtype":"current","lon":"","lat":"","city":"Melle","country":"Deutschland","language":"de","x":330,"y":1780,"wires":[["2ade6d8b.7fcae2","5f5c8992.d07128"]]},{"id":"d5509022.a7b43","type":"inject","z":"c273dbba.253268","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1780,"wires":[["eeb01dc0.8cd9b"]]},{"id":"8d9d8d6d.6c9d","type":"ui_switch","z":"63872b04.e58594","name":"","label":"B 6","group":"fefdd1e3.a1c7b","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":170,"y":880,"wires":[["b9337b70.cb97b8"]]},{"id":"f3511d57.45079","type":"ui_switch","z":"63872b04.e58594","name":"","label":"B 1","group":"fefdd1e3.a1c7b","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":178,"y":583,"wires":[["a3e4391a.ae4fc8"]]},{"id":"b8fd658c.aa9868","type":"ui_switch","z":"63872b04.e58594","name":"","label":"B 5","group":"fefdd1e3.a1c7b","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":170,"y":740,"wires":[["d6050ba9.a108a8"]]},{"id":"b33e9ff1.7247","type":"ui_switch","z":"63872b04.e58594","name":"","label":"B 3","group":"fefdd1e3.a1c7b","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":181,"y":659,"wires":[["a45d94eb.b77a38"]]},{"id":"3d81886d.476e28","type":"link out","z":"63872b04.e58594","name":"","links":["f39f96c5.f8a358"],"x":735,"y":660,"wires":[]},{"id":"44a0e794.facdc8","type":"comment","z":"63872b04.e58594","name":"Fitness","info":"","x":171,"y":544,"wires":[]},{"id":"d96d5140.be972","type":"ui_switch","z":"63872b04.e58594","name":"","label":"B 4","group":"fefdd1e3.a1c7b","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":330,"y":700,"wires":[["c3ce5.a929331b8"]]},{"id":"bbb9e64d.2c82a8","type":"ui_switch","z":"63872b04.e58594","name":"","label":"B 2","group":"fefdd1e3.a1c7b","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":330,"y":620,"wires":[["7b73115d.2fced"]]},{"id":"17d34c8.51e7db4","type":"ui_switch","z":"63872b04.e58594","name":"","label":"B 9","group":"fefdd1e3.a1c7b","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":170,"y":1100,"wires":[["7d5fced3.7f756"]]},{"id":"55af7fdf.8230e","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Fernwartung","group":"fefdd1e3.a1c7b","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":190,"y":940,"wires":[["7e9b951b.caf7fc"]]},{"id":"fc50d551.091788","type":"ui_switch","z":"63872b04.e58594","name":"","label":"B 8","group":"fefdd1e3.a1c7b","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":170,"y":1040,"wires":[["6aba3b5a.bab3b4"]]},{"id":"3d977329.93834c","type":"ui_switch","z":"63872b04.e58594","name":"","label":"B 10","group":"fefdd1e3.a1c7b","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":170,"y":1160,"wires":[["57afc281.3cc9fc"]]},{"id":"ba2634f8.09be88","type":"ui_switch","z":"63872b04.e58594","name":"","label":"B 15","group":"2366dd86.4082f2","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":560,"wires":[["d658d6d5.0684d8"]]},{"id":"7dd1b7f5.4395f8","type":"comment","z":"63872b04.e58594","name":"Wareneingang","info":"","x":966,"y":465,"wires":[]},{"id":"e40fae48.0c8d9","type":"ui_switch","z":"63872b04.e58594","name":"","label":"B 16","group":"2366dd86.4082f2","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":620,"wires":[["4ca50fb0.1f1c"]]},{"id":"d2ee4496.8d3598","type":"link out","z":"63872b04.e58594","name":"","links":["f39f96c5.f8a358"],"x":1435,"y":540,"wires":[]},{"id":"a695c321.41cfa","type":"ui_switch","z":"63872b04.e58594","name":"","label":"B 14","group":"2366dd86.4082f2","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":500,"wires":[["4d48744e.f6f22c"]]},{"id":"6a518e3c.ea15a","type":"inject","z":"a96c819e.ce9fc","name":"","topic":"","payload":"Nachtmodus","payloadType":"str","repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":"5","x":87,"y":472,"wires":[["da289e88.1226"]]},{"id":"8f6bc287.d068","type":"delay","z":"a96c819e.ce9fc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":420,"wires":[["e1ce49b4.c6ba48"]]},{"id":"4882dd5c.2943d4","type":"rpi-gpio out","z":"efabc5b9.132a68","name":"","pin":"16","set":false,"level":"1","freq":"","out":"out","x":420,"y":300,"wires":[]},{"id":"7ff2381.24c04c8","type":"inject","z":"efabc5b9.132a68","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":259.0234375,"y":263.2734375,"wires":[["4882dd5c.2943d4"]]},{"id":"3e8998e4.a9f968","type":"inject","z":"efabc5b9.132a68","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":258.90624237060547,"y":304.44920921325684,"wires":[["4882dd5c.2943d4"]]},{"id":"a4f9bf3b.79381","type":"ping","z":"efabc5b9.132a68","name":"","host":"192.168.1.67","timer":"5","x":124.01953125,"y":483.00392055511475,"wires":[["cd8a7697.cad608"]]},{"id":"874ef63a.f5eae8","type":"comment","z":"efabc5b9.132a68","name":"Persönliche Automatik","info":"","x":144.51953125,"y":400.00390625,"wires":[]},{"id":"51d27ce5.7875b4","type":"function","z":"efabc5b9.132a68","name":"OFF","func":"\n\nmsg.payload = \"A=11=1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":469.51952743530273,"y":508.0039405822754,"wires":[["32fb72d3.09ce6e"]]},{"id":"3ac777d9.7c6538","type":"switch","z":"efabc5b9.132a68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":298.51953887939453,"y":482.00392055511475,"wires":[["61224c15.0dc304","d28e6be.d6ba498"],["51d27ce5.7875b4","8b6ee369.ef62f"]]},{"id":"61224c15.0dc304","type":"function","z":"efabc5b9.132a68","name":"ON","func":"\n\nmsg.payload = \"A=11=0\";\n\nreturn msg;","outputs":1,"noerr":0,"x":469.5195503234863,"y":462.00392055511475,"wires":[["32fb72d3.09ce6e"]]},{"id":"32fb72d3.09ce6e","type":"link out","z":"efabc5b9.132a68","name":"","links":["f39f96c5.f8a358"],"x":694.51953125,"y":490.00390625,"wires":[]},{"id":"d28e6be.d6ba498","type":"function","z":"efabc5b9.132a68","name":"ON","func":"\n\nmsg.payload = \"A=18=0\";\n\nreturn msg;","outputs":1,"noerr":0,"x":472.5195198059082,"y":416.00389766693115,"wires":[["32fb72d3.09ce6e"]]},{"id":"8b6ee369.ef62f","type":"function","z":"efabc5b9.132a68","name":"OFF","func":"\n\nmsg.payload = \"A=18=1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":469.5195426940918,"y":550.0039558410645,"wires":[["32fb72d3.09ce6e"]]},{"id":"cd8a7697.cad608","type":"debug","z":"efabc5b9.132a68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":498.51954650878906,"y":609.0039405822754,"wires":[]},{"id":"dc770f35.4afc","type":"ui_switch","z":"63872b04.e58594","name":"","label":"A 20","group":"346f87d4.b55b58","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":800,"wires":[["3175dbeb.6e1ad4"]]},{"id":"d06c4383.51f99","type":"comment","z":"63872b04.e58594","name":"Eingang","info":"","x":950,"y":700,"wires":[]},{"id":"35feea74.954306","type":"link out","z":"63872b04.e58594","name":"","links":["f39f96c5.f8a358"],"x":1435,"y":760,"wires":[]},{"id":"4d975950.bd6d68","type":"ui_switch","z":"63872b04.e58594","name":"","label":"A 19","group":"346f87d4.b55b58","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":950,"y":740,"wires":[["889f7e25.3d34e"]]},{"id":"af5a07ae.b7b748","type":"function","z":"9d9502ed.2a8bb","name":"TCP Request","func":"\ntmp = msg.payload.split('=');\n\n if (tmp[2] === \"0\") { \n mode = \"off\";\n } else {\n mode = \"on\";\n }\n\nmsg.payload = \"SR \" + tmp[1] + \" \" + mode + \" \\n\\r\";\n \nswitch (tmp[0]){\n case 'A':\n return[msg,null,null];\n \n case 'B':\n \n return[null, msg,null];\n \n case 'C':\n return[null,null,msg];\n \n}\nreturn;","outputs":3,"noerr":0,"x":390,"y":100,"wires":[["768687dc.a1e838"],["18b59a3f.989726"],["a3536699.b3e4c8"]],"outputLabels":["A","B","C"]},{"id":"958b4318.d112b","type":"link out","z":"a96c819e.ce9fc","name":"Alle Lampen","links":["ec5d40dc.35768","b0faa3e1.9dfc5","33f9037.1279dfc","5b0ac93a.afc7a8","65c79d9e.c4e8f4","864259bd.681718","4eb10c5f.e97964","680f9a61.99d324","a3c4836.385518","c5305335.d1dcf","8f1859ce.b7c5d8","f35f6a17.432ac8","e76f7074.67ad7"],"x":435,"y":620,"wires":[]},{"id":"82fee9c8.d2e828","type":"link out","z":"a96c819e.ce9fc","name":"50% Lampen","links":["d721ce24.b42a8","e78e3ba9.f658e8","52c238f1.118158","21a9164a.68341a","be11fb9b.37c738","2188577d.406258","d8b2788e.7e84d8","837724f5.177828","dd3dd70e.140f88","be1c8dc0.ee85c","84ad51cf.93c82","99d05d47.2968","a2a9eb80.0728e8","1a4e495d.f4ec67","50f7a1f7.44f8","803f66c3.ca5c58"],"x":755,"y":320,"wires":[]},{"id":"dd051395.0460a","type":"ui_switch","z":"63872b04.e58594","name":"","label":"Billard Mitte","group":"c909d68.fa7ea28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":970,"y":400,"wires":[["f17e9248.fc7ec"]]},{"id":"c5305335.d1dcf","type":"link in","z":"63872b04.e58594","name":"Send via Button","links":["958b4318.d112b"],"x":815,"y":960,"wires":[["b282b377.fd919","b2928381.4730a","c06ce83f.b90528","c93655f7.874088"]]},{"id":"33f9037.1279dfc","type":"link in","z":"63872b04.e58594","name":"Lampen Essn","links":["958b4318.d112b"],"x":15,"y":200,"wires":[["24781cd1.e1aed4","d80a9579.7d9868","f7f93fef.da253","4eece321.cd13ec","16e66b1c.de2475","bf64bf3e.38ba2","466e70b7.48bf9","90f9ca27.d814c8"]]},{"id":"5b0ac93a.afc7a8","type":"link in","z":"63872b04.e58594","name":"Lampen Scruum","links":["958b4318.d112b"],"x":815,"y":120,"wires":[["79a63274.8c641c","a7c4be28.03bbd"]]},{"id":"864259bd.681718","type":"link in","z":"63872b04.e58594","name":"Lampen Wareneingang","links":["958b4318.d112b"],"x":815,"y":560,"wires":[["a695c321.41cfa","ba2634f8.09be88","e40fae48.0c8d9"]]},{"id":"e76f7074.67ad7","type":"link in","z":"63872b04.e58594","name":"Send via Button","links":["958b4318.d112b"],"x":795,"y":680,"wires":[["4d975950.bd6d68","dc770f35.4afc"]]},{"id":"4eb10c5f.e97964","type":"link in","z":"63872b04.e58594","name":"Lampen Fitmess","links":["958b4318.d112b"],"x":15,"y":660,"wires":[["bbb9e64d.2c82a8","f3511d57.45079","b33e9ff1.7247","d96d5140.be972","b8fd658c.aa9868"]]},{"id":"59ece7e1.0bb178","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=1=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":100,"wires":[["b197c567.26bb28"]]},{"id":"97d36701.853a98","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=2=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":160,"wires":[["b197c567.26bb28"]]},{"id":"24d5f5d6.af4e1a","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=3=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":220,"wires":[["b197c567.26bb28"]]},{"id":"1618774b.275fa9","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=4=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":280,"wires":[["b197c567.26bb28"]]},{"id":"216f4428.24506c","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=5=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":340,"wires":[["b197c567.26bb28"]]},{"id":"2b161439.9763ac","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=6=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":400,"wires":[["b197c567.26bb28"]]},{"id":"7ed2fee9.d8848","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=7=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":460,"wires":[["b197c567.26bb28"]]},{"id":"b624c3c8.09e31","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=8=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":520,"wires":[["b197c567.26bb28"]]},{"id":"5b57b727.e884f8","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=9=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":580,"wires":[["b197c567.26bb28"]]},{"id":"9876caea.731a78","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=10=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":640,"wires":[["b197c567.26bb28"]]},{"id":"5642fd2b.717fa4","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=11=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":700,"wires":[["b197c567.26bb28"]]},{"id":"6fd35544.5e37bc","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=12=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":760,"wires":[["b197c567.26bb28"]]},{"id":"1a859447.0dbc5c","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=13=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":820,"wires":[["b197c567.26bb28"]]},{"id":"5a2c865f.9acf58","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=14=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":880,"wires":[["b197c567.26bb28"]]},{"id":"d4976928.a81f78","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=15=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":940,"wires":[["b197c567.26bb28"]]},{"id":"9e0da421.ce0ac8","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=16=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":1000,"wires":[["b197c567.26bb28"]]},{"id":"e352d353.ad239","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=17=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":1060,"wires":[["b197c567.26bb28"]]},{"id":"8c945de4.0993a","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=18=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":1120,"wires":[["b197c567.26bb28"]]},{"id":"9d08c1e5.ffe86","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"A=11=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":1180,"wires":[["b197c567.26bb28"]]},{"id":"d1eb5b81.1db378","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"A=18=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":1240,"wires":[["b197c567.26bb28"]]},{"id":"374a8a0.2ab4c76","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"A=13=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":1300,"wires":[["b197c567.26bb28"]]},{"id":"813940a7.cc7ca","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"A=12=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":885,"y":1360,"wires":[["b197c567.26bb28"]]},{"id":"ec5d40dc.35768","type":"link in","z":"1db7c4b1.5ef76b","name":"","links":["958b4318.d112b"],"x":175,"y":120,"wires":[["69706594.fd5abc","83a54da7.4c0a3","baed58a0.b51e58","f8d95383.29dac","4c4e41eb.ac2b7","7c5dde7d.578b1","e6aa056.f80c0f8","d87632ba.0d84","9231086c.a33c08","b75881fa.87e3d","9af18626.3cc018","39b2d78a.cd9c98","ee5a928a.c6937","66408869.2fc668","17518081.7fd26f","bc5130a3.f3f6c","adc2dfd3.fdcb9","fad8e51f.fe5248","9cf1af3c.eb9aa","d8e695eb.28eba8","b1d9c04d.a0169","b3222d02.9304c"]]},{"id":"df3d9164.d4119","type":"delay","z":"a96c819e.ce9fc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":320,"wires":[["7e50ce8e.489f7"]]},{"id":"e78e3ba9.f658e8","type":"link in","z":"1db7c4b1.5ef76b","name":"","links":["82fee9c8.d2e828","b69e1841.64c4e8"],"x":235,"y":620,"wires":[["69706594.fd5abc","baed58a0.b51e58","4c4e41eb.ac2b7","e6aa056.f80c0f8","9231086c.a33c08","9af18626.3cc018","ee5a928a.c6937","17518081.7fd26f","adc2dfd3.fdcb9","9cf1af3c.eb9aa","b1d9c04d.a0169"]]},{"id":"7e50ce8e.489f7","type":"function","z":"a96c819e.ce9fc","name":"50%","func":"msg.payload = \"1\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":320,"wires":[["82fee9c8.d2e828"]]},{"id":"da289e88.1226","type":"function","z":"a96c819e.ce9fc","name":"0%","func":"msg.payload = \"0\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":420,"wires":[["8f6bc287.d068","958b4318.d112b"]]},{"id":"e1b28e8b.b3668","type":"link out","z":"a96c819e.ce9fc","name":"Lampen Nachts","links":["52d6797f.af2918","99d05d47.2968","a2a9eb80.0728e8"],"x":755,"y":420,"wires":[]},{"id":"e1ce49b4.c6ba48","type":"function","z":"a96c819e.ce9fc","name":"100%","func":"msg.payload = \"1\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":420,"wires":[["e1b28e8b.b3668"]]},{"id":"4154c883.0ecaa8","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=10=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":60,"wires":[["7c84ee74.625c3"]]},{"id":"1e9c597c.ee73c7","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=9=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["7c84ee74.625c3"]]},{"id":"a422f5f8.3074d8","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=8=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":140,"wires":[["7c84ee74.625c3"]]},{"id":"50f313d5.4ad13c","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=6=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":180,"wires":[["7c84ee74.625c3"]]},{"id":"f0500009.12e8a","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=5=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["7c84ee74.625c3"]]},{"id":"424711c6.865dd","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=4=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":260,"wires":[["7c84ee74.625c3"]]},{"id":"2bdf1134.64d4ae","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=1=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":340,"wires":[["7c84ee74.625c3"]]},{"id":"bc8711aa.81c42","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=2=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["7c84ee74.625c3"]]},{"id":"6a8a53fc.39a76c","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=3=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":380,"wires":[["7c84ee74.625c3"]]},{"id":"472acd23.089e04","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=7=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":420,"wires":[["7c84ee74.625c3"]]},{"id":"b868ab2b.d7ddb8","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"C=20=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":100,"wires":[["cdb7160a.d8fb48"]]},{"id":"f9b82a0d.faaee8","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"C=19=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":160,"wires":[["cdb7160a.d8fb48"]]},{"id":"4e1cc820.4ab708","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=11=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":280,"wires":[["8e1200b5.81409"]]},{"id":"9b14ce59.c5da4","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=10=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":340,"wires":[["8e1200b5.81409"]]},{"id":"f17e9248.fc7ec","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=12=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":400,"wires":[["8e1200b5.81409"]]},{"id":"4d48744e.f6f22c","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=14=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":500,"wires":[["d2ee4496.8d3598"]]},{"id":"d658d6d5.0684d8","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=15=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":560,"wires":[["d2ee4496.8d3598"]]},{"id":"4ca50fb0.1f1c","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=16=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":620,"wires":[["d2ee4496.8d3598"]]},{"id":"889f7e25.3d34e","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=19=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":740,"wires":[["35feea74.954306"]]},{"id":"3175dbeb.6e1ad4","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=20=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":800,"wires":[["35feea74.954306"]]},{"id":"45ccedf9.065ca4","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=17=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":920,"wires":[["94f0bb54.4f17c8"]]},{"id":"28ef1ab9.833ea6","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=16=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":980,"wires":[["94f0bb54.4f17c8"]]},{"id":"580fd66b.001f88","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=15=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1040,"wires":[["94f0bb54.4f17c8"]]},{"id":"76c2e20c.cd6a8c","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"A=14=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1100,"wires":[["94f0bb54.4f17c8"]]},{"id":"a3e4391a.ae4fc8","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=1=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["3d81886d.476e28"]]},{"id":"7b73115d.2fced","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=2=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":620,"wires":[["3d81886d.476e28"]]},{"id":"a45d94eb.b77a38","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=3=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":660,"wires":[["3d81886d.476e28"]]},{"id":"d6050ba9.a108a8","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=5=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":740,"wires":[["3d81886d.476e28"]]},{"id":"c3ce5.a929331b8","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=4=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":700,"wires":[["3d81886d.476e28"]]},{"id":"201dd5ed.08f56a","type":"comment","z":"63872b04.e58594","name":"Fernwartung","info":"","x":190,"y":820,"wires":[]},{"id":"789292b1.8e44dc","type":"comment","z":"63872b04.e58594","name":"Test","info":"","x":170,"y":1000,"wires":[]},{"id":"680f9a61.99d324","type":"link in","z":"63872b04.e58594","name":"Lampen Fernwartung","links":["958b4318.d112b"],"x":35,"y":920,"wires":[["8d9d8d6d.6c9d","55af7fdf.8230e"]]},{"id":"a3c4836.385518","type":"link in","z":"63872b04.e58594","name":"Lampen Test","links":["958b4318.d112b"],"x":35,"y":1100,"wires":[["fc50d551.091788","17d34c8.51e7db4","3d977329.93834c"]]},{"id":"4b7d4053.51c8f","type":"link out","z":"63872b04.e58594","name":"","links":["f39f96c5.f8a358"],"x":735,"y":900,"wires":[]},{"id":"4a0c5e17.50e12","type":"link out","z":"63872b04.e58594","name":"","links":["f39f96c5.f8a358"],"x":735,"y":1100,"wires":[]},{"id":"b9337b70.cb97b8","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=6=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":880,"wires":[["4b7d4053.51c8f"]]},{"id":"7e9b951b.caf7fc","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=7=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":940,"wires":[["4b7d4053.51c8f"]]},{"id":"6aba3b5a.bab3b4","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=8=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1040,"wires":[["4a0c5e17.50e12"]]},{"id":"7d5fced3.7f756","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=9=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1100,"wires":[["4a0c5e17.50e12"]]},{"id":"57afc281.3cc9fc","type":"function","z":"63872b04.e58594","name":"","func":"msg.payload = \"B=10=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1160,"wires":[["4a0c5e17.50e12"]]},{"id":"52c238f1.118158","type":"link in","z":"63872b04.e58594","name":"Lampen Essn","links":["82fee9c8.d2e828"],"x":15,"y":320,"wires":[["24781cd1.e1aed4","16e66b1c.de2475","f7f93fef.da253","466e70b7.48bf9","c5237c6f.04e78"]]},{"id":"21a9164a.68341a","type":"link in","z":"63872b04.e58594","name":"Lampen Essn","links":["82fee9c8.d2e828"],"x":15,"y":700,"wires":[["f3511d57.45079","b33e9ff1.7247","b8fd658c.aa9868"]]},{"id":"be11fb9b.37c738","type":"link in","z":"63872b04.e58594","name":"Lampen Essn","links":["82fee9c8.d2e828"],"x":35,"y":960,"wires":[["8d9d8d6d.6c9d"]]},{"id":"2188577d.406258","type":"link in","z":"63872b04.e58594","name":"Lampen Essn","links":["82fee9c8.d2e828"],"x":35,"y":1140,"wires":[["17d34c8.51e7db4"]]},{"id":"d8b2788e.7e84d8","type":"link in","z":"63872b04.e58594","name":"Lampen Essn","links":["82fee9c8.d2e828"],"x":815,"y":1020,"wires":[["b2928381.4730a","c93655f7.874088"]]},{"id":"837724f5.177828","type":"link in","z":"63872b04.e58594","name":"Lampen Essn","links":["82fee9c8.d2e828"],"x":795,"y":760,"wires":[["4d975950.bd6d68"]]},{"id":"dd3dd70e.140f88","type":"link in","z":"63872b04.e58594","name":"Lampen Essn","links":["82fee9c8.d2e828"],"x":815,"y":600,"wires":[["ba2634f8.09be88"]]},{"id":"be1c8dc0.ee85c","type":"link in","z":"63872b04.e58594","name":"Lampen Essn","links":["82fee9c8.d2e828"],"x":815,"y":400,"wires":[["dd051395.0460a"]]},{"id":"84ad51cf.93c82","type":"link in","z":"63872b04.e58594","name":"Lampen Essn","links":["82fee9c8.d2e828"],"x":815,"y":160,"wires":[["79a63274.8c641c"]]},{"id":"99d05d47.2968","type":"link in","z":"63872b04.e58594","name":"Nacht 1","links":["82fee9c8.d2e828","e1b28e8b.b3668"],"x":815,"y":200,"wires":[["79a63274.8c641c"]]},{"id":"a2a9eb80.0728e8","type":"link in","z":"63872b04.e58594","name":"Nacht 2","links":["82fee9c8.d2e828","e1b28e8b.b3668"],"x":815,"y":440,"wires":[["dd051395.0460a"]]},{"id":"57bc88da.328a58","type":"comment","z":"c273dbba.253268","name":"Wetterbericht und forecast","info":"","x":170,"y":1740,"wires":[]},{"id":"c1248c68.a2061","type":"openweathermap","z":"c273dbba.253268","name":"Wetter","wtype":"forecast","lon":"","lat":"","city":"Melle","country":"Deutschland","language":"de","x":330,"y":1820,"wires":[["7e414f57.a8245","dd8f8791.f81b78"]]},{"id":"14f69b05.c8b2f5","type":"inject","z":"c273dbba.253268","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1820,"wires":[["c1248c68.a2061"]]},{"id":"7e414f57.a8245","type":"ui_template","z":"c273dbba.253268","group":"1f2a885d.a442f8","name":"","order":4,"width":"6","height":"2","format":"<style>\n\t#wetter { display: flex; flex-direction: row; padding: .5em; }\n</style> \n\n<div id=\"wetter\">\n \n \n \n \n <p> <br> <b>In 3 Stunden: </b> {{msg.payload[0].main.temp + '°C,' + ' Wind ' + msg.payload[0].wind.speed + 'm/s, ' + ' ' + msg.payload[0].wind.deg + '°N,' + ' Feuchte ' + msg.payload[0].main.humidity + '%rel,' + ' Luftdruck ' + msg.payload[0].main.sea_level + 'hPa' }} </p> \n \n</div>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":1820,"wires":[[]]},{"id":"e80a6b05.9309b8","type":"ui_chart","z":"c273dbba.253268","name":"","group":"1f2a885d.a442f8","order":3,"width":"6","height":"4","label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":770,"y":1740,"wires":[[],[]]},{"id":"5f5c8992.d07128","type":"function","z":"c273dbba.253268","name":"Aufbereiten Temp.","func":"msg.payload = msg.payload.tempc;\nmsg.topic = \"aussen\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1740,"wires":[["e80a6b05.9309b8","ebd11c39.5d79c"]]},{"id":"a6e5ce23.c0084","type":"ui_toast","z":"c273dbba.253268","position":"top right","displayTime":"60","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Temperatur zu hoch. Bitte Lüften","name":"Temperatur zu hoch","x":1100,"y":1640,"wires":[]},{"id":"dfb8c24c.24395","type":"switch","z":"c273dbba.253268","name":"","property":"airTemperatur","propertyType":"msg","rules":[{"t":"gt","v":"23","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1640,"wires":[["3dfd8510.7f312a"]]},{"id":"e4959b3b.acc1f8","type":"switch","z":"c273dbba.253268","name":"","property":"airQuality","propertyType":"msg","rules":[{"t":"gt","v":"1000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1460,"wires":[["96c39811.114458"]]},{"id":"84dd5380.5b51f","type":"ui_toast","z":"c273dbba.253268","position":"top right","displayTime":"60","highlight":"","outputs":0,"ok":"OK","cancel":"nein","topic":"Luftqualität schlecht. Bitte Lüften","name":"VOC zu hoch","x":1070,"y":1460,"wires":[]},{"id":"6551be0a.cd3ad","type":"switch","z":"c273dbba.253268","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":1460,"wires":[["b27703d8.d7ac1"]]},{"id":"7b361135.f9e32","type":"link out","z":"c273dbba.253268","name":"Lüften","links":["25042c77.a21494"],"x":235,"y":360,"wires":[]},{"id":"25042c77.a21494","type":"link in","z":"c273dbba.253268","name":"Lüften","links":["7b361135.f9e32","b27703d8.d7ac1"],"x":215,"y":240,"wires":[["a830b08e.a33e3","beb895e6.12d9c8","488a0025.5c5b9","e460ca49.09c508"]]},{"id":"b27703d8.d7ac1","type":"link out","z":"c273dbba.253268","name":"Lüften","links":["25042c77.a21494"],"x":1415,"y":1460,"wires":[]},{"id":"2ce0d777.fa85b8","type":"inject","z":"c273dbba.253268","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":500,"wires":[["514555e9.d001dc"]]},{"id":"96c39811.114458","type":"rbe","z":"c273dbba.253268","name":"","func":"deadbandEq","gap":"100","start":"","inout":"out","property":"payload","x":900,"y":1460,"wires":[["84dd5380.5b51f"]]},{"id":"3dfd8510.7f312a","type":"rbe","z":"c273dbba.253268","name":"","func":"deadband","gap":"1","start":"","inout":"out","property":"payload","x":900,"y":1640,"wires":[["a6e5ce23.c0084"]]},{"id":"45ecf5f.bcb0d0c","type":"rpi-gpio in","z":"efabc5b9.132a68","name":"","pin":"35","intype":"tri","debounce":"25","read":false,"x":410,"y":240,"wires":[["435d0699.0109c8"]]},{"id":"f2773f97.b65ae","type":"function","z":"9d9502ed.2a8bb","name":"","func":"//String Str = new String(\"msg.payload\");\n/* var indexoffalse = msg.indexOf(\"false\");\n \n if(indexoffalse==\"0\"){\n msg.url= \"192.168.1.93/set.html?DUMMY=1\" ;\n return msg;\n }*/\nif(msg.payload===false){msg.url= \"192.168.1.9/set.html?DUMMY=1\" ;\n return msg;\n}\n","outputs":1,"noerr":0,"x":470,"y":320,"wires":[["ba043a98.a15eb8"]]},{"id":"ba043a98.a15eb8","type":"http request","z":"9d9502ed.2a8bb","name":"","method":"GET","ret":"txt","url":"","tls":"","x":610,"y":320,"wires":[[]]},{"id":"4640b81d.20f148","type":"ping","z":"9d9502ed.2a8bb","name":"","host":"192.168.1.12","timer":"8","x":330,"y":320,"wires":[["f2773f97.b65ae"]]},{"id":"e2d8ee3d.554c2","type":"ping","z":"9d9502ed.2a8bb","name":"","host":"192.168.1.14","timer":"8","x":330,"y":260,"wires":[["65e89b22.4ca924"]]},{"id":"17e94767.ca9d19","type":"ping","z":"9d9502ed.2a8bb","name":"","host":"192.168.1.13","timer":"8","x":330,"y":380,"wires":[["5e5c6a59.5cc194"]]},{"id":"65e89b22.4ca924","type":"function","z":"9d9502ed.2a8bb","name":"","func":"if(msg.payload===false){\n msg.url= \"192.168.1.9/set.html?DUMMY=2\" ;\n return msg;\n}\n","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["a9decb25.2a7058"]]},{"id":"5e5c6a59.5cc194","type":"function","z":"9d9502ed.2a8bb","name":"","func":"//String Str = new String(\"msg.payload\");\n/* var indexoffalse = msg.indexOf(\"false\");\n \n if(indexoffalse==\"0\"){\n msg.url= \"192.168.1.93/set.html?DUMMY=1\" ;\n return msg;\n }*/\nif(msg.payload===false){msg.url= \"192.168.1.9/set.html?DUMMY=3\" ;\n return msg;\n}\n","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["abefceb9.2e388"]]},{"id":"a9decb25.2a7058","type":"http request","z":"9d9502ed.2a8bb","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":610,"y":260,"wires":[[]]},{"id":"abefceb9.2e388","type":"http request","z":"9d9502ed.2a8bb","name":"","method":"GET","ret":"txt","url":"","tls":"","x":610,"y":380,"wires":[[]]},{"id":"afb6a55b.5f8d38","type":"comment","z":"9d9502ed.2a8bb","name":"Reset über ESP8266 wenn Ping nicht durchgeht","info":"","x":440,"y":200,"wires":[]},{"id":"df4231b6.576e7","type":"tcp out","z":"9d9502ed.2a8bb","host":"192.168.1.14","port":"17123","beserver":"client","base64":false,"end":true,"name":"","x":970,"y":60,"wires":[]},{"id":"ffccbb1e.7062b8","type":"tcp out","z":"9d9502ed.2a8bb","host":"192.168.1.12","port":"17123","beserver":"client","base64":false,"end":true,"name":"","x":990,"y":140,"wires":[]},{"id":"10343662.65252a","type":"tcp out","z":"9d9502ed.2a8bb","host":"192.168.1.13","port":"17123","beserver":"client","base64":false,"end":true,"name":"","x":990,"y":200,"wires":[]},{"id":"a3536699.b3e4c8","type":"delay","z":"9d9502ed.2a8bb","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":140,"wires":[["10343662.65252a"]]},{"id":"52dd8dc4.222bb4","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"4 ","group":"adba0775.b8f348","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":730,"y":1640,"wires":[["87d2594f.a4d168"]]},{"id":"8dd7d8f9.24bf08","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"3 ","group":"adba0775.b8f348","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":730,"y":1580,"wires":[["66480282.d4769c"]]},{"id":"4306e938.d6a058","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"1 ","group":"adba0775.b8f348","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":730,"y":1460,"wires":[["61595479.a83ecc"]]},{"id":"7366bd7b.fc70c4","type":"ui_switch","z":"1db7c4b1.5ef76b","name":"","label":"2 ","group":"adba0775.b8f348","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":730,"y":1520,"wires":[["460c1a16.9b3fc4"]]},{"id":"12233845.74c518","type":"comment","z":"1db7c4b1.5ef76b","name":"Mitte","info":"","x":730,"y":1420,"wires":[]},{"id":"eae76b17.5ad5a8","type":"link out","z":"1db7c4b1.5ef76b","name":"","links":["f39f96c5.f8a358"],"x":1215,"y":1520,"wires":[]},{"id":"f35f6a17.432ac8","type":"link in","z":"1db7c4b1.5ef76b","name":"Send via Button","links":["958b4318.d112b"],"x":515,"y":1420,"wires":[["4306e938.d6a058","7366bd7b.fc70c4","8dd7d8f9.24bf08","52dd8dc4.222bb4"]]},{"id":"61595479.a83ecc","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=21=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1460,"wires":[["eae76b17.5ad5a8"]]},{"id":"460c1a16.9b3fc4","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=22=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1520,"wires":[["eae76b17.5ad5a8"]]},{"id":"66480282.d4769c","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=23=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1580,"wires":[["eae76b17.5ad5a8"]]},{"id":"87d2594f.a4d168","type":"function","z":"1db7c4b1.5ef76b","name":"","func":"msg.payload = \"C=24=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1640,"wires":[["eae76b17.5ad5a8"]]},{"id":"803f66c3.ca5c58","type":"link in","z":"1db7c4b1.5ef76b","name":"Lampen Essn","links":["82fee9c8.d2e828"],"x":595,"y":1560,"wires":[["7366bd7b.fc70c4","52dd8dc4.222bb4"]]},{"id":"18b59a3f.989726","type":"delay","z":"9d9502ed.2a8bb","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":100,"wires":[["ffccbb1e.7062b8"]]},{"id":"768687dc.a1e838","type":"delay","z":"9d9502ed.2a8bb","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":60,"wires":[["df4231b6.576e7"]]},{"id":"306a52bd.82865e","type":"inject","z":"9d9502ed.2a8bb","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["65e89b22.4ca924"]]},{"id":"a57e75c7.7f8938","type":"inject","z":"9d9502ed.2a8bb","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":300,"wires":[["f2773f97.b65ae"]]},{"id":"f9292ed8.815cd","type":"inject","z":"9d9502ed.2a8bb","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":360,"wires":[["5e5c6a59.5cc194"]]},{"id":"fdb92a8.09f3bd8","type":"tcp request","z":"9d9502ed.2a8bb","server":"192.168.1.12","port":"17123","out":"time","splitc":"1000","name":"","x":1060,"y":380,"wires":[["b624d081.f60a3"]]},{"id":"b624d081.f60a3","type":"debug","z":"9d9502ed.2a8bb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":380,"wires":[]},{"id":"493f89e2.37ee98","type":"inject","z":"9d9502ed.2a8bb","name":"","topic":"","payload":"GA 5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":400,"wires":[["fdb92a8.09f3bd8"]]},{"id":"a87c28af.25a078","type":"inject","z":"9d9502ed.2a8bb","name":"","topic":"","payload":"GI 2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":440,"wires":[["fdb92a8.09f3bd8"]]},{"id":"bceebcbb.9dec3","type":"inject","z":"9d9502ed.2a8bb","name":"","topic":"","payload":"GI 3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":480,"wires":[["fdb92a8.09f3bd8"]]},{"id":"db3f633.351c8a","type":"inject","z":"9d9502ed.2a8bb","name":"","topic":"","payload":"GI 4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":520,"wires":[["fdb92a8.09f3bd8"]]},{"id":"c09b20e3.cbca6","type":"ui_template","z":"c273dbba.253268","group":"6e6c016e.49121","name":"Anzeige 1","order":2,"width":"3","height":"1","format":"\n<div layout=\"row\" layout-align=\"space-between\">\n<p ng-style=\"{color: (msg.payload[0] ) === 'I' ? 'green' : 'red'}\">\n {{(msg.payload[0] ) === 'I' ? 'geschlossen' : 'offen'}}\n</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":620,"wires":[[]]},{"id":"ca91383.f69ecc8","type":"inject","z":"c273dbba.253268","name":"","topic":"","payload":"GI 1","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":"","x":130,"y":620,"wires":[["21e6446.24bbabc"]]},{"id":"805fb899.5b7c08","type":"inject","z":"c273dbba.253268","name":"","topic":"","payload":"GI 2","payloadType":"str","repeat":"11","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":660,"wires":[["f1e5f6d6.3f1f58"]]},{"id":"b86e4469.78e408","type":"inject","z":"c273dbba.253268","name":"","topic":"","payload":"GI 3","payloadType":"str","repeat":"13","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":700,"wires":[["b474ee8f.6996c"]]},{"id":"98e35d42.0c97a","type":"inject","z":"c273dbba.253268","name":"","topic":"","payload":"GI 4","payloadType":"str","repeat":"14","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":740,"wires":[["de5f0f37.be0c"]]},{"id":"21e6446.24bbabc","type":"tcp request","z":"c273dbba.253268","server":"192.168.1.12","port":"17123","out":"time","splitc":"1000","name":"","x":350,"y":620,"wires":[["e809f5.886a7608"]]},{"id":"f1e5f6d6.3f1f58","type":"tcp request","z":"c273dbba.253268","server":"192.168.1.12","port":"17123","out":"time","splitc":"1000","name":"","x":350,"y":660,"wires":[["b9ad154.98dbbe8"]]},{"id":"b474ee8f.6996c","type":"tcp request","z":"c273dbba.253268","server":"192.168.1.12","port":"17123","out":"time","splitc":"1000","name":"","x":350,"y":700,"wires":[["5665182a.63d728"]]},{"id":"de5f0f37.be0c","type":"tcp request","z":"c273dbba.253268","server":"192.168.1.12","port":"17123","out":"time","splitc":"1000","name":"","x":350,"y":740,"wires":[["acc9c5e2.bf7b18"]]},{"id":"a08b2395.a162f","type":"ui_template","z":"c273dbba.253268","group":"6e6c016e.49121","name":"Anzeige 2","order":4,"width":"3","height":"1","format":"<div layout=\"row\" layout-align=\"space-between\">\n<p ng-style=\"{color: (msg.payload[0] ) === 'I' ? 'green' : 'red'}\">\n {{(msg.payload[0] ) === 'I' ? 'geschlossen' : 'offen'}}\n</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":660,"wires":[[]]},{"id":"eb6a4d2b.91534","type":"ui_template","z":"c273dbba.253268","group":"6e6c016e.49121","name":"Anzeige 3","order":6,"width":"3","height":"1","format":"<div layout=\"row\" layout-align=\"space-between\">\n<p ng-style=\"{color: (msg.payload[0] ) === 'I' ? 'green' : 'red'}\">\n {{(msg.payload[0] ) === 'I' ? 'geschlossen' : 'offen'}}\n</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":700,"wires":[[]]},{"id":"4922f606.3e57e8","type":"ui_template","z":"c273dbba.253268","group":"6e6c016e.49121","name":"Anzeige 4","order":8,"width":"3","height":"1","format":"<div layout=\"row\" layout-align=\"space-between\">\n<p ng-style=\"{color: (msg.payload[0] ) === 'I' ? 'green' : 'red'}\">\n {{(msg.payload[0] ) === 'I' ? 'geschlossen' : 'offen'}}\n</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":740,"wires":[[]]},{"id":"b9ad154.98dbbe8","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":660,"wires":[["a08b2395.a162f"]]},{"id":"5665182a.63d728","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":700,"wires":[["eb6a4d2b.91534"]]},{"id":"acc9c5e2.bf7b18","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":740,"wires":[["4922f606.3e57e8"]]},{"id":"e809f5.886a7608","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":620,"wires":[["c09b20e3.cbca6"]]},{"id":"6a30118c.b8e7","type":"delay","z":"c273dbba.253268","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":400,"wires":[["be01a7cc.a3a218","295de7bf.b4b4f8","585754e3.80faac","660ec4.634d613c"]]},{"id":"571c8e7c.322a5","type":"function","z":"c273dbba.253268","name":"delay","func":"msg.delay = Number(global.get(\"lueften\")) * 60 * 1000;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["6a30118c.b8e7"]]},{"id":"9affa550.0b48c8","type":"inject","z":"c273dbba.253268","name":"Lichtsensor","topic":"","payload":"GA 5","payloadType":"str","repeat":"21","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":840,"wires":[["a959c6c9.cbbc88"]]},{"id":"a959c6c9.cbbc88","type":"tcp request","z":"c273dbba.253268","server":"192.168.1.12","port":"17123","out":"time","splitc":"1000","name":"","x":350,"y":840,"wires":[["199a6d60.776b53"]]},{"id":"1f0b725a.3b04ce","type":"ui_chart","z":"c273dbba.253268","name":"","group":"d0f42692.72e1b8","order":2,"width":"6","height":"4","label":"Beleuchtungsstärke","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":780,"y":800,"wires":[[],[]]},{"id":"199a6d60.776b53","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload = msg.payload.toString();\nmsg.payload = msg.payload.substring(0, msg.payload.length - 2);\nmsg.payload = (2760 - msg.payload) / 27.6;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":840,"wires":[["1f0b725a.3b04ce","d7fc3f50.4a74e","80604695.9c8aa8"]]},{"id":"90f8092d.4132b8","type":"switch","z":"c273dbba.253268","name":"licht aus","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"lichtaus","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":880,"wires":[["89b35025.50798"]]},{"id":"67cf0fdd.f28f6","type":"link in","z":"a96c819e.ce9fc","name":"Aus","links":["52a38a7f.d568f4","6a822738.04ade8","6987ea69.c6d7a4"],"x":155,"y":280,"wires":[["a8982f9b.a15e3"]]},{"id":"e442fa27.06cba8","type":"comment","z":"c273dbba.253268","name":"Rrückmeldung Lichtkuppeln","info":"","x":160,"y":580,"wires":[]},{"id":"9bafc230.a93ca","type":"comment","z":"c273dbba.253268","name":"Helligkeitsmessung","info":"","x":130,"y":800,"wires":[]},{"id":"d7fc3f50.4a74e","type":"ui_gauge","z":"c273dbba.253268","name":"","group":"d0f42692.72e1b8","order":1,"width":"6","height":"4","gtype":"gage","title":"Licht","label":"Grad","format":"{{value | number:0}}","min":"0","max":"120","colors":["#a9a9a9","#00fa92","#fffc79"],"seg1":"50","seg2":"100","x":730,"y":840,"wires":[]},{"id":"d8830d29.c9299","type":"debug","z":"efabc5b9.132a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":140,"wires":[]},{"id":"435d0699.0109c8","type":"debug","z":"efabc5b9.132a68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":240,"wires":[]},{"id":"89b35025.50798","type":"delay","z":"c273dbba.253268","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1080,"y":880,"wires":[["6a822738.04ade8"]]},{"id":"80604695.9c8aa8","type":"smooth","z":"c273dbba.253268","name":"","property":"payload","action":"min","count":"10","round":"0","mult":"single","x":740,"y":880,"wires":[["90f8092d.4132b8","ae9e65f4.708918"]]},{"id":"dd4a67a9.55a138","type":"ui_slider","z":"c273dbba.253268","name":"","label":"Beleuchtung aus bei","group":"d0f42692.72e1b8","order":9,"width":"4","height":"2","passthru":true,"topic":"","min":"50","max":"120","step":1,"x":320,"y":940,"wires":[["71272458.a9305c"]]},{"id":"71272458.a9305c","type":"function","z":"c273dbba.253268","name":"Speichern","func":"flow.set(\"lichtaus\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":940,"wires":[["72e859bd.97b068"]]},{"id":"72e859bd.97b068","type":"ui_text","z":"c273dbba.253268","group":"d0f42692.72e1b8","order":10,"width":"2","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":690,"y":940,"wires":[]},{"id":"85cf570c.7a86c8","type":"inject","z":"c273dbba.253268","name":"","topic":"","payload":"94","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":940,"wires":[["dd4a67a9.55a138"]]},{"id":"c40f3866.8c8b88","type":"mqtt in","z":"c273dbba.253268","name":"","topic":"Wetter","qos":"0","broker":"3157afd.b3b595","x":110,"y":2080,"wires":[["7c770954.c6ddb8","9911e825.1a59e8","4c494cb2.7f2a94","a6e318ee.7a23a8"]]},{"id":"4f47201d.bf982","type":"ui_chart","z":"c273dbba.253268","name":"Regenanzeige","group":"1f2a885d.a442f8","order":5,"width":"6","height":"4","label":"Regensensor","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Regen","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffff00","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":780,"y":1960,"wires":[[],[]]},{"id":"9911e825.1a59e8","type":"function","z":"c273dbba.253268","name":"","func":"\nvar sun=context.get('sun') || 0;\nvar rain=context.get('rain') || 0;\nif (msg.payload == \"keinRegen\") {\nsun +=1;\n}\nelse {\n rain +=1;\n}\ncontext.set('rain',rain);\ncontext.set('sun',sun);\nvar Regen = rain/(rain+sun);\nvar keinRegen = sun/(sun+rain);\n \n msg.payload =[{\n\n \"series\": [\"X\", \"Y\"],\n \"data\": [ [keinRegen,Regen]],\n \"labels\": [ \"kein Regen\", \"Regen\" ]\n\n}];\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":1960,"wires":[["4f47201d.bf982"]]},{"id":"7c770954.c6ddb8","type":"ui_template","z":"c273dbba.253268","group":"1f2a885d.a442f8","name":"Momentananzeige Regen","order":6,"width":"3","height":"1","format":"Momentan:\n<div layout=\"row\" layout-align=\"space-between\">\n<p ng-style=\"{color: (msg.payload[0] ) === 'R' ? 'blue' : 'yellow'}\">\n {{(msg.payload[0] ) === 'R' ? 'Regen' : 'kein Regen'}}\n</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":2080,"wires":[[]]},{"id":"ce8e5a58.0304b8","type":"inject","z":"c273dbba.253268","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["b04646ac.7146b8"]]},{"id":"529fb1c1.7ad76","type":"mqtt out","z":"c273dbba.253268","name":"","topic":"Regensensor","qos":"","retain":"","broker":"3157afd.b3b595","x":290,"y":2300,"wires":[]},{"id":"2b16436e.e4b77c","type":"inject","z":"c273dbba.253268","name":"","topic":"","payload":"1","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2300,"wires":[["529fb1c1.7ad76"]]},{"id":"d795c35c.6084b","type":"ping","z":"c273dbba.253268","name":"","host":"192.168.1.7","timer":"10","x":150,"y":1960,"wires":[["c3393c7f.b24b3","c66b64e5.73fe88"]]},{"id":"c3393c7f.b24b3","type":"function","z":"c273dbba.253268","name":"","func":"msg.payload = msg.payload.toString();\nif (msg.payload[0] == \"f\") {\n msg.payload = \"Regen\";\n return msg;\n}\n","outputs":1,"noerr":0,"x":350,"y":1960,"wires":[["9911e825.1a59e8","7c770954.c6ddb8","7b0ad4bc.c17acc"]]},{"id":"4c494cb2.7f2a94","type":"debug","z":"c273dbba.253268","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":2200,"wires":[]},{"id":"a6e0fc53.7ab56","type":"link in","z":"c273dbba.253268","name":"regensensor schließen","links":["77130f3b.fe823"],"x":335,"y":220,"wires":[["be01a7cc.a3a218","295de7bf.b4b4f8","585754e3.80faac","660ec4.634d613c"]]},{"id":"77130f3b.fe823","type":"link out","z":"c273dbba.253268","name":"","links":["a6e0fc53.7ab56"],"x":1035,"y":2120,"wires":[]},{"id":"a6e318ee.7a23a8","type":"function","z":"c273dbba.253268","name":"","func":"if (msg.payload == \"Regen\") {\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":650,"y":2120,"wires":[["e37fe030.d1026"]]},{"id":"cab06f97.bc53d","type":"inject","z":"c273dbba.253268","name":"","topic":"","payload":"Regen","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":2180,"wires":[["77130f3b.fe823"]]},{"id":"eaf281d9.8f7d6","type":"ui_switch","z":"c7e288d3.9f77d8","name":"","label":"Eingang","group":"346f87d4.b55b58","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":440,"y":160,"wires":[["59ac4ef4.83b4f"]]},{"id":"59ac4ef4.83b4f","type":"function","z":"c7e288d3.9f77d8","name":"","func":"msg.payload = \"A=22=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["cf263cf9.222e9"]]},{"id":"cf263cf9.222e9","type":"link out","z":"c7e288d3.9f77d8","name":"","links":["f39f96c5.f8a358"],"x":715,"y":160,"wires":[]},{"id":"3e13fb51.f57054","type":"link in","z":"c7e288d3.9f77d8","name":"Aussen","links":["6a822738.04ade8","e8e43d26.b091e"],"x":240,"y":160,"wires":[["eaf281d9.8f7d6"]]},{"id":"6a822738.04ade8","type":"link out","z":"c273dbba.253268","name":"","links":["67cf0fdd.f28f6","3e13fb51.f57054"],"x":1235,"y":880,"wires":[]},{"id":"ae9e65f4.708918","type":"switch","z":"c273dbba.253268","name":"licht an","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"lichtan","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":920,"wires":[["d536de22.80c6a"]]},{"id":"d536de22.80c6a","type":"delay","z":"c273dbba.253268","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1080,"y":920,"wires":[["e8e43d26.b091e"]]},{"id":"e8e43d26.b091e","type":"link out","z":"c273dbba.253268","name":"","links":["3e13fb51.f57054"],"x":1235,"y":920,"wires":[]},{"id":"1fb48a45.ad3a96","type":"ui_slider","z":"c273dbba.253268","name":"","label":"Beleuchtung an bei","group":"d0f42692.72e1b8","order":9,"width":"4","height":"2","passthru":true,"topic":"","min":"0","max":"80","step":1,"x":310,"y":1000,"wires":[["cf65a270.9b77d"]]},{"id":"cf65a270.9b77d","type":"function","z":"c273dbba.253268","name":"Speichern","func":"flow.set(\"lichtan\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1000,"wires":[["acac36f9.4e40e8"]]},{"id":"acac36f9.4e40e8","type":"ui_text","z":"c273dbba.253268","group":"d0f42692.72e1b8","order":10,"width":"2","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":690,"y":1000,"wires":[]},{"id":"5789ea69.291464","type":"inject","z":"c273dbba.253268","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1000,"wires":[["1fb48a45.ad3a96"]]},{"id":"e37fe030.d1026","type":"delay","z":"c273dbba.253268","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":890,"y":2120,"wires":[["77130f3b.fe823"]]},{"id":"c66b64e5.73fe88","type":"debug","z":"c273dbba.253268","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":1920,"wires":[]},{"id":"7b0ad4bc.c17acc","type":"ui_toast","z":"c273dbba.253268","position":"top right","displayTime":"60","highlight":"","outputs":0,"ok":"OK","cancel":"nein","topic":"Regensensor Verbindung verloren","name":"Ping Fehler Regensensor","x":810,"y":1900,"wires":[]},{"id":"7d12ff81.690fe","type":"comment","z":"c273dbba.253268","name":"Regensensor","info":"","x":130,"y":1880,"wires":[]},{"id":"dd8f8791.f81b78","type":"debug","z":"c273dbba.253268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":1860,"wires":[]}]